body {
	font-family: 'arial', sans-serif;
	color: #333;
	background-color: $backgrColor;
}

.sort_knap {
	color: $logoYellow;
	border: 1px solid $logoYellow;
	background-color: $backgrColor; 
	padding: 20px 20px 20px 20px;
	font-size: 1.0rem;

	&:hover {
		background-color: $logoYellow;
		color: $backgrColor;
	}

	@mixin atLarge {
		font-size: 1.0rem;
		padding: 20px 20px 20px 20px;
	}
}

.lang_smal_container {
	width: 95%;
	margin: auto;
	padding: 30px 0px;
	margin-bottom: 30px;

	@mixin atLarge {
		width: 80%;
	}
}

.red_green_knap {
	color: $backgrColor;
	border: 1px solid $backgrColor;
	background-color: $logoGreen;
	padding: 20px 20px 20px 20px;
	font-size: 1.0rem;

	&:hover {
		background-color: $logoRed;
		color: $backgrColor;
	}

	@mixin atLarge {
		font-size: 1.0rem;
		padding: 20px 20px 20px 20px;
	}
}

.red_green {
	border: 10px solid $logoRed;
	background-color: $logoGreen;
	
	@mixin atLarge {
		border: 15px solid $logoRed;
	}
}

.link-green {
	color: $logoGreen;
}

.content {
	color: $logoGreen;
	color: $logoYellow;
}

.brun_div {
	background-color: $mainGrey;
}

.linje_green {
  	background-color: $logoGreen;
  	height: 2px;
  	width: 100%;

  	@mixin atLarge{
  		display: none;
  	}	
 }

.tc-green {
	color: #93cc19;
}


img {
	max-width: 100%;
	max-height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $logoYellow;
	text-decoration: none;


}
a:hover {
	color: $logoRed;
	font-weight: bold;
	cursor: pointer;
};

iframe {
	height: 400px;

	@mixin atMedium {
			height: 600px;
		}
}