.primary-nav {
	padding-top: 10px;
	align-content: center;

	@mixin atMedium {
		width: 80%;
		padding-top: 0;
		margin: 0 auto;
	}

	&--center {
		@mixin atMedium {
			align-content: center;
		}
		
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 10px;
		@mixin atMedium {
			float: left;
			padding-right: 20px;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: white;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainBlue, .5);

		@mixin atMedium {
			padding: 0px 0;
			font-size: 1rem;
			background-color: transparent;

			&.is-current-link {
				color: #fabb69;
			}
		}
	}
}